body {
    margin: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
      "sans-serif";
    height: 100%;
    background-color: #2e3034;/*#2c2f33;*/
    overflow-x: hidden;
  }
  
form {
    font-size: 20px;
    letter-spacing: 0.075em;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }

.topnav {
    overflow: hidden;
    background-color: #ffbb11;
    padding: 10px;
    width: 100%;
    display: flex;
  
    align-items: center;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    background-color: #7289da;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 30px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 /* 
.topnav a.active {
    background-color: #7289da;
    color: white;
}
*/

.title {
    background-color: white;
    text-align: center;
    font: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.header {
  color: white;
  text-align: center;

}

.description {
    background-color: white;
    text-align: center;
    color: black;
    margin: 0 0 10px 0;
}

.description2 {
    background-color: white;
    text-align: center;
    color: black;
    margin: 0 0 10px 0;
}

footer {
    display: inline-block; 
    background-color: #232323;
    padding-top: 10px; 
    padding-left: 40px;  
    padding-bottom: 30px; 
    text-align: left; 
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  footer a:hover {
    color: #ffffff;
  }
  
  footer a {
    text-decoration: none;
    color: #7289da;
  }
  
